<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <video autoplay controls controlsList="nodownload">
        <source src="/viewVideo/<%= videoName %>">
    </video>
</body>
</html>